// color variables
$brand: #7148FC;
$darkest: #0C121C;
$dark: #1E293B;
$mid: #B8BFC6;
$light: #D6DEE7;
$lightest: #FCFCFC;

// breakpoint variables
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// font variables
$font-family: "Poppins", sans-serif;

$font-medium: 500;
$font-bold: 700;

// transition variables
$transition-fast: 0.3s;
$transition-mid: 0.5s;
$transition-slow: 1s;