<?xml version="1.0" encoding="utf-8"?>
<Media Key="62ca8cd5-6282-4536-8676-35d5090a62bd" Alias="203536" Level="2">
  <Info>
    <Parent Key="df901d2e-1a1e-4014-8afc-eb036d09e5e4">Test Images</Parent>
    <Path>/TestImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-19T08:28:25</CreateDate>
    <NodeName Default="203536" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ogmuyuc/203536.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>