<?xml version="1.0" encoding="utf-8"?>
<Media Key="52e54da6-fc04-46a8-9a0e-ebca69e69323" Alias="Kalen Emsley Bkci 8Qcdvq Unsplash" Level="2">
  <Info>
    <Parent Key="df901d2e-1a1e-4014-8afc-eb036d09e5e4">Test Images</Parent>
    <Path>/TestImages/KalenEmsleyBkci8QcdvqUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T08:52:45</CreateDate>
    <NodeName Default="Kalen Emsley Bkci 8Qcdvq Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ubgpkuqe/kalen-emsley-bkci_8qcdvq-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>