<?xml version="1.0" encoding="utf-8"?>
<Media Key="df901d2e-1a1e-4014-8afc-eb036d09e5e4" Alias="Test Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-19T08:28:18</CreateDate>
    <NodeName Default="Test Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>