@use '../../utils' as ut;

.flexibleblocks {
    .flexibleblock {
        margin-bottom: 40px;

        @media screen and (min-width: ut.$lg) {
            margin-bottom: 60px;
        }

        &.__smallmargin {
            margin-bottom: 30px;

            @media screen and (min-width: ut.$lg) {
                margin-bottom: 40px;
            }
        }

        &.__largemargin {
            margin-bottom: 60px;

            @media screen and (min-width: ut.$lg) {
                margin-bottom: 80px;
            }
        }
    }
}