<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dd97886-8d4c-45cb-b40d-a5d92fbf3add" Alias="Demo Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DemoSite</Path>
    <Trashed>false</Trashed>
    <ContentType>siteRoot</ContentType>
    <CreateDate>2024-09-20T15:24:47</CreateDate>
    <NodeName Default="Demo Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/7e0fcb77370b43f9804d360bfa6e7f47]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>