<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dd97886-8d4c-45cb-b40d-a5d92fbf3add" Alias="Demo Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DemoSite</Path>
    <Trashed>false</Trashed>
    <ContentType>siteRoot</ContentType>
    <CreateDate>2024-09-20T15:24:47</CreateDate>
    <NodeName Default="Demo Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationItems>
      <Value><![CDATA[[
  {
    "elementType": "85bfa55b-f9e3-4a40-aa53-fac1b88f9293",
    "key": "d08c46c2-a2fb-4cf0-8aeb-938d2726ab98",
    "value": {
      "title": "Home",
      "link": [
        {
          "udi": "umb://document/0dd978868d4c45cbb40da5d92fbf3add"
        }
      ],
      "childLinks": null
    }
  },
  {
    "elementType": "85bfa55b-f9e3-4a40-aa53-fac1b88f9293",
    "key": "8affdb36-c184-49ae-819c-2ca9021539b5",
    "value": {
      "title": "Sub pages",
      "link": [
        {
          "udi": "umb://document/d34ae5a0a316485ca6aa4cb30d20a252"
        }
      ],
      "childLinks": [
        {
          "elementType": "4fde5622-2ec9-4cb6-a408-8fa76e795508",
          "key": "59ca9fe4-fe7e-4b4a-a7a1-c507ab954117",
          "value": {
            "title": "Generic Text Page",
            "url": [
              {
                "udi": "umb://document/9edb43ff9eda4a619d97a6431af40f33"
              }
            ]
          }
        }
      ]
    }
  },
  {
    "elementType": "85bfa55b-f9e3-4a40-aa53-fac1b88f9293",
    "key": "9d71d168-4303-4ff5-87d0-f38a35f1de0d",
    "value": {
      "title": "Unique pages",
      "link": [
        {
          "udi": "umb://document/0fe13a94f00c47a0adce86540b72bd33"
        }
      ],
      "childLinks": [
        {
          "elementType": "4fde5622-2ec9-4cb6-a408-8fa76e795508",
          "key": "54d2f68d-1dac-4779-9508-5609885c7445",
          "value": {
            "title": "Grid stack page",
            "url": [
              {
                "udi": "umb://document/0c88ec5e18624dd394ef881ceb0b29e7"
              }
            ]
          }
        },
        {
          "elementType": "4fde5622-2ec9-4cb6-a408-8fa76e795508",
          "key": "47e6c00b-d4f7-4822-ae54-3aefa3cb1497",
          "value": {
            "title": "React Page",
            "url": [
              {
                "udi": "umb://document/5e9200cfe3bc49739d8f7fbe7b023f97"
              }
            ]
          }
        }
      ]
    }
  }
]]]></Value>
    </navigationItems>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/7e0fcb77370b43f9804d360bfa6e7f47]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>