<?xml version="1.0" encoding="utf-8"?>
<Content Key="9edb43ff-9eda-4a61-9d97-a6431af40f33" Alias="Generic Text Page" Level="3">
  <Info>
    <Parent Key="7e0fcb77-370b-43f9-804d-360bfa6e7f47">Home</Parent>
    <Path>/DemoSite/Home/GenericTextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2024-09-24T15:04:11</CreateDate>
    <NodeName Default="Generic Text Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9fa9e0-e8c3-4c64-b395-9f24aad90677">TextPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>Text</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <pageTitle>
      <Value><![CDATA[Generic text page]]></Value>
    </pageTitle>
  </Properties>
</Content>