<?xml version="1.0" encoding="utf-8"?>
<Content Key="9edb43ff-9eda-4a61-9d97-a6431af40f33" Alias="Generic Text Page" Level="3">
  <Info>
    <Parent Key="d34ae5a0-a316-485c-a6aa-4cb30d20a252">Sub Pages</Parent>
    <Path>/DemoSite/SubPages/GenericTextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2024-09-24T15:04:11</CreateDate>
    <NodeName Default="Generic Text Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9fa9e0-e8c3-4c64-b395-9f24aad90677">TextPage</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is an example of the generic text page</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/0dd978868d4c45cbb40da5d92fbf3add"
  }
]]]></Value>
    </bannerLink>
    <bannerTitle>
      <Value><![CDATA[Text Page]]></Value>
    </bannerTitle>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0f79d31f76a9435a9b05a805c64b44db",
        "settingsUdi": "umb://element/cd75a8337f024d749b90d1cdf2b9c3d8"
      },
      {
        "contentUdi": "umb://element/c2d0cf4a9bd14d9a89b3141038f6ccd2",
        "settingsUdi": "umb://element/c77dc396aea34dff8ed34352b35d18f9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b22cea37-515b-4ddc-aa7c-21ebc636f50b",
      "udi": "umb://element/0f79d31f76a9435a9b05a805c64b44db",
      "title": "Rich Text Block Test",
      "content": {
        "markup": "<p>This is the first rich text block.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "3b7d8116-13e8-418d-88ac-9ad7b7eea677",
      "udi": "umb://element/c2d0cf4a9bd14d9a89b3141038f6ccd2",
      "image": [
        {
          "key": "f5298c44-45a0-4a52-b180-08782e7c9b37",
          "mediaKey": "62ca8cd5-6282-4536-8676-35d5090a62bd"
        }
      ],
      "content": {
        "markup": "<h3>A header</h3>\n<p>This is some testing content.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5a5932ef-d5ec-4ebe-be9c-e5ab13e77e1f",
      "udi": "umb://element/cd75a8337f024d749b90d1cdf2b9c3d8",
      "blockMargin": [
        "Medium"
      ],
      "isHidden": "0"
    },
    {
      "contentTypeKey": "5a5932ef-d5ec-4ebe-be9c-e5ab13e77e1f",
      "udi": "umb://element/c77dc396aea34dff8ed34352b35d18f9",
      "blockMargin": "",
      "isHidden": "0"
    }
  ]
}]]></Value>
    </contentBlocks>
  </Properties>
</Content>