<?xml version="1.0" encoding="utf-8"?>
<Content Key="9edb43ff-9eda-4a61-9d97-a6431af40f33" Alias="Generic Text Page" Level="3">
  <Info>
    <Parent Key="d34ae5a0-a316-485c-a6aa-4cb30d20a252">Sub Pages</Parent>
    <Path>/DemoSite/SubPages/GenericTextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2024-09-24T15:04:11</CreateDate>
    <NodeName Default="Generic Text Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9fa9e0-e8c3-4c64-b395-9f24aad90677">TextPage</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is an example of the generic text page</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/0dd978868d4c45cbb40da5d92fbf3add"
  }
]]]></Value>
    </bannerLink>
    <bannerTitle>
      <Value><![CDATA[Text Page]]></Value>
    </bannerTitle>
    <content>
      <Value><![CDATA[{
  "markup": "<p>This is some content.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
  </Properties>
</Content>