<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c88ec5e-1862-4dd3-94ef-881ceb0b29e7" Alias="Gridstack.js Test Page" Level="3">
  <Info>
    <Parent Key="7e0fcb77-370b-43f9-804d-360bfa6e7f47">Home</Parent>
    <Path>/DemoSite/Home/GridstackjsTestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>gridPage</ContentType>
    <CreateDate>2024-10-11T14:53:03</CreateDate>
    <NodeName Default="Gridstack.js Test Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d82662b7-01f4-4c48-a138-1e70cfdc2aef">GridPage</Template>
  </Info>
  <Properties>
    <gridItems>
      <Value><![CDATA[[
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "b4834b65-c8cc-4b1a-917b-9e2de5229120",
    "value": {
      "title": "First item",
      "width": "2",
      "height": "2"
    }
  },
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "f0854c98-c71b-4416-b58e-decd0ede16f7",
    "value": {
      "title": "Second item",
      "width": "4",
      "height": "2"
    }
  },
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "a8511bf5-7a2e-421a-89e4-c5dd835e2dbb",
    "value": {
      "title": "Third item",
      "width": "6",
      "height": "2"
    }
  },
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "dc95a5a8-8e48-4bbb-861d-8018209604f8",
    "value": {
      "title": "Fourth item",
      "width": "4",
      "height": "4"
    }
  }
]]]></Value>
    </gridItems>
  </Properties>
</Content>