<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c88ec5e-1862-4dd3-94ef-881ceb0b29e7" Alias="Gridstack.js Test Page" Level="3">
  <Info>
    <Parent Key="0fe13a94-f00c-47a0-adce-86540b72bd33">Unique Pages</Parent>
    <Path>/DemoSite/UniquePages/GridstackjsTestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>gridPage</ContentType>
    <CreateDate>2024-10-11T14:53:03</CreateDate>
    <NodeName Default="Gridstack.js Test Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d82662b7-01f4-4c48-a138-1e70cfdc2aef">GridPage</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This page is used to test&nbsp;<em>Gridstack.js&nbsp;</em>- a JavaScript library that allows you to create a re-arrangeable grid.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerLink>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/0dd978868d4c45cbb40da5d92fbf3add"
  }
]]]></Value>
    </bannerLink>
    <bannerTitle>
      <Value><![CDATA[Grid testing page]]></Value>
    </bannerTitle>
    <gridItems>
      <Value><![CDATA[[
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "b4834b65-c8cc-4b1a-917b-9e2de5229120",
    "value": {
      "title": "First item",
      "width": "2",
      "height": "2"
    }
  },
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "f0854c98-c71b-4416-b58e-decd0ede16f7",
    "value": {
      "title": "Second item",
      "width": "4",
      "height": "2"
    }
  },
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "a8511bf5-7a2e-421a-89e4-c5dd835e2dbb",
    "value": {
      "title": "Third item",
      "width": "6",
      "height": "6",
      "noResize": "1",
      "noMovement": "1"
    }
  },
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "dc95a5a8-8e48-4bbb-861d-8018209604f8",
    "value": {
      "title": "Fourth item",
      "width": "4",
      "height": "4"
    }
  },
  {
    "elementType": "c86b6140-6bc0-4fb9-a111-185c70aab825",
    "key": "ce3df487-939c-4cf7-8ab1-dc1ca4f39d5e",
    "value": {
      "title": "Fifth Item",
      "width": "3",
      "height": "3"
    }
  }
]]]></Value>
    </gridItems>
    <gridTitle>
      <Value><![CDATA[Grid]]></Value>
    </gridTitle>
  </Properties>
</Content>