<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e9200cf-e3bc-4973-9d8f-7fbe7b023f97" Alias="React Testing Page" Level="3">
  <Info>
    <Parent Key="0fe13a94-f00c-47a0-adce-86540b72bd33">Unique Pages</Parent>
    <Path>/DemoSite/UniquePages/ReactTestingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>reactPage</ContentType>
    <CreateDate>2024-10-15T11:23:01</CreateDate>
    <NodeName Default="React Testing Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6930815d-f70e-4790-b584-519d4dab9a8e">ReactPage</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>The components on this page are using react for some reason...</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerLink>
      <Value><![CDATA[]]></Value>
    </bannerLink>
    <bannerTitle>
      <Value><![CDATA[React Page]]></Value>
    </bannerTitle>
    <reactBlocks>
      <Value><![CDATA[[
  {
    "elementType": "0843ff68-c55d-4be4-b501-e01840d5d3b8",
    "key": "7d3483f1-b2d0-46e8-8180-5dbd7c21d4fc",
    "value": {
      "counterTitle": "Counter one - starts at 0",
      "startingNumber": null
    }
  },
  {
    "elementType": "a6571973-620a-44e2-bcd3-137ba6d861b1",
    "key": "985445bd-d073-48c9-8f58-d5a20a35a043",
    "value": {
      "repeaterTitle": "Simple Repeater"
    }
  },
  {
    "elementType": "0843ff68-c55d-4be4-b501-e01840d5d3b8",
    "key": "b74f7308-c270-401f-890b-a2753394d425",
    "value": {
      "counterTitle": "Counter two - starts at 5",
      "startingNumber": "5"
    }
  }
]]]></Value>
    </reactBlocks>
  </Properties>
</Content>