<?xml version="1.0" encoding="utf-8"?>
<Content Key="d34ae5a0-a316-485c-a6aa-4cb30d20a252" Alias="Sub Pages" Level="2">
  <Info>
    <Parent Key="0dd97886-8d4c-45cb-b40d-a5d92fbf3add">Demo Site</Parent>
    <Path>/DemoSite/SubPages</Path>
    <Trashed>false</Trashed>
    <ContentType>listingPage</ContentType>
    <CreateDate>2024-10-14T15:20:28</CreateDate>
    <NodeName Default="Sub Pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ac381ff3-ca59-4fdb-b339-e622b1901c97">ListingPage</Template>
  </Info>
  <Properties>
    <bannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is the subpage.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerContent>
    <bannerLink>
      <Value><![CDATA[]]></Value>
    </bannerLink>
    <bannerTitle>
      <Value><![CDATA[Sub Pages]]></Value>
    </bannerTitle>
  </Properties>
</Content>