@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GridPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@await Component.InvokeAsync("Banner")

<div class="grid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (!string.IsNullOrWhiteSpace(Model.GridTitle))
                {
                    <h2 class="grid-title">@Model.GridTitle</h2>
                }

                <div class="grid-save mb-5">
                    <button class="button gridSaveBtn">Save grid</button>
                </div>

                <div class="grid-stack">
                    <!-- grid is populated by JavaScript (see frontend/ts/partials/grid-stack.ts) -->
                </div>

                <div class="grid-tray">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <button class="grid-tray-button gridTrayToggle">Open tray</button>

                                <div class="grid-tray-wrap">
                                    <div class="grid-stack-item">
                                        <div class="grid-stack-item-content">
                                            <opta-widget widget="competition_stats" competition="8" season="2024" template="normal" show_crests="true" show_images="false" show_ranks="true" show_player_rankings="true" show_team_rankings="true" visible_stats="goals,shots,shots_on_target,passes,cards_yellow,cards_red" limit="2" team_naming="brief" player_naming="initial" show_logo="true" show_title="true" breakpoints="310, 970, 1300" sport="football"></opta-widget>
                                        </div>
                                    </div>

                                    <div class="grid-tray-trash">Remove Widget</div>
                                </div>
                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- container -->
                </div>
            </div><!-- row -->
        </div>
    </div>
</div>