@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GridPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@await Component.InvokeAsync("Banner")

<div class="grid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (!string.IsNullOrWhiteSpace(Model.GridTitle))
                {
                    <h2 class="grid-title">@Model.GridTitle</h2>
                }

                <button class="button mb-5 gridSaveBtn">Save grid</button>

                <div class="grid-stack">
                    <!-- grid is populated by JavaScript (see grid-stack.ts) ->
                        </div>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->

            <div class="grid-tray">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <button class="grid-tray-button gridTrayToggle">Open tray</button>

                            <div class="grid-tray-wrap">
                        @for (int i = 0; i < 3; i++)
                        {
                                    <div class="grid-stack-item" gs-min-w="3" gs-min-h="3">
                                        <div class="grid-stack-item-content">
                                            <opta-widget widget="standings" competition="8" season="2024" team="6" template="normal" live="true" team_padding="3" default_nav="1" side="home" data_detail="brief" dividers="1" show_key="false" show_crests="true" points_in_first_column="false" lose_before_draw="false" competition_naming="abbr" team_naming="abbr" date_format="dddd D MMMM YYYY" sorting="false" show_live="true" show_relegation_average="false" show_logo="true" show_title="true" breakpoints="310, 970, 1300" sport="football"></opta-widget>
                                        </div>
                                    </div>
                        }
                                <div class="grid-tray-trash">Remove Widget</div>
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- container -->
            </div>
        </div>
    </div>
</div>