@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<header>
    header
</header>

<main>
    @RenderBody()
</main>

<footer>
    footer
</footer>