@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

@await Html.PartialAsync("Shared/_head")

@await Html.PartialAsync("Shared/_header")

<main>
    @RenderBody()
</main>

@await Html.PartialAsync("Shared/_footer")