@use '../utils' as ut;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

h1,
h2,
h3 {
    font-weight: ut.$font-medium;
    line-height: 1.4;
}

h1 {
    font-size: ut.rem(40);

    @media screen and (min-width: ut.$lg) {
        font-size: ut.rem(48);
    }
}

h2 {
    font-size: ut.rem(32);

    @media screen and (min-width: ut.$lg) {
        font-size: ut.rem(40);
    }
}

h3 {
    font-size: ut.rem(24);

    @media screen and (min-width: ut.$lg) {
        font-size: ut.rem(32);
    }
}