<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5e5ed62-f91d-468d-a4a3-da6226e2c855" Alias="Flexible Blocks Properties - Content - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>Flexible Blocks Properties - Content - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "b22cea37-515b-4ddc-aa7c-21ebc636f50b",
      "value": {
        "nameTemplate": "{{ $index }}: Rich Text Block ",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>