<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90b9ac29-78af-4d05-bd0a-17d1e24bc382" Alias="Flexible Blocks" Level="1">
  <Info>
    <Name>Flexible Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b22cea37-515b-4ddc-aa7c-21ebc636f50b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ $index }}: Rich Text Block",
      "settingsElementTypeKey": "5a5932ef-d5ec-4ebe-be9c-e5ab13e77e1f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>