<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6da5380f-3071-46f0-a116-6f817b1b7bab" Alias="Grid Page - Grid Items - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>Grid Page - Grid Items - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "c86b6140-6bc0-4fb9-a111-185c70aab825",
      "value": {
        "nameTemplate": "{{ $index }}: {{ title }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>