<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c4bddf2-36f8-4b45-acf4-198ab2c796fe" Alias="Grid Stack Item - Width - Numeric - Max 3" Level="1">
  <Info>
    <Name>Grid Stack Item - Width - Numeric - Max 3</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "max": 3
}]]></Config>
</DataType>