<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c8b39cb-f563-429c-b701-304312c79524" Alias="Grid Stack Item - Alignment - [Contentment] Data List" Level="1">
  <Info>
    <Name>Grid Stack Item - Alignment - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "DemoSite",
          "DemoSite.Enums.GridStackAlignment"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "text",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>