<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d5282ab-9ddb-49a7-b99d-38d67beee95b" Alias="Menu Item - Child Links - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>Menu Item - Child Links - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "4fde5622-2ec9-4cb6-a408-8fa76e795508",
      "value": {
        "nameTemplate": "{{ $index }}: {{ title }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>