<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af091b2d-eae8-4f53-accf-fe5dc492c2b1" Alias="React Page - React Blocks - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>React Page - React Blocks - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "0843ff68-c55d-4be4-b501-e01840d5d3b8",
      "value": {
        "nameTemplate": "{{ $index }}: Counter ({{ counterTitle }})",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    },
    {
      "key": "a6571973-620a-44e2-bcd3-137ba6d861b1",
      "value": {
        "nameTemplate": "{{ $index }}: Repeater ({{ repeaterTitle }})",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>