<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7573033-01ad-44d7-8513-c71b5d6ba606" Alias="Site Root - Navigation Items - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>Site Root - Navigation Items - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "85bfa55b-f9e3-4a40-aa53-fac1b88f9293",
      "value": {
        "nameTemplate": "{{ $index }}: {{ title }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>