<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a1311eb-9a61-41b7-b14f-c30cbadfe3a2" Alias="Two Column Block - Alignment - [Contentment] Data List" Level="1">
  <Info>
    <Name>Two Column Block - Alignment - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "DemoSite",
          "DemoSite.Enums.TwoColumnAlignment"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "text",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>