<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security>
				<requestFiltering allowDoubleEscaping="true">
					<requestLimits maxAllowedContentLength="104857600" maxUrl="8192" maxQueryString="4096"/>
				</requestFiltering>
			</security>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="bin\Debug\net8.0\DemoSite.exe"
                        arguments=""
                        stdoutLogEnabled="true"
                        stdoutLogFile=".\logs\stdout"
                        hostingModel="inprocess" />
			<applicationInitialization>
				<add initializationPage="/" />
			</applicationInitialization>
		</system.webServer>
	</location>
</configuration>

