<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                footer testing
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</footer>

<script src="/js/main.js"></script>

@if (Model is GridPage gridPage)
{
    <script src="/js/gridStack.js"></script>
}

@if (Model is ReactPage reactPage)
{
    <script src="/js/reactPage.js"></script>
}
