<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a class="header-logo" href="/">Demo site</a>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</header>