@model DemoSite.Models.ViewModels.BannerViewModel

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="banner-title">@Model.Title</h1>

                @if (Model.Content != null && !string.IsNullOrEmpty(Model.Content.ToString()))
                {
                    <div class="banner-content">
                        @Html.Raw(Model.Content)
                    </div>
                }

                @if (Model.Link != null)
                {
                    <a href="@Model.Link.Url" class="banner-link">@Model.Link.Name</a>
                }
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>
