<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bde149dc-95da-4483-8153-57c03a5d1bee" Alias="gridPage" Level="2">
  <Info>
    <Name>Grid Page</Name>
    <Icon>icon-grid color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="71cf9468-19e4-4e2f-8ae6-3231abb24647">bannerProperties</Composition>
    </Compositions>
    <DefaultTemplate>GridPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d82662b7-01f4-4c48-a138-1e70cfdc2aef">GridPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>754f1e9c-ac52-4080-80c0-f4b4c18cbdca</Key>
      <Name>Grid Items</Name>
      <Alias>gridItems</Alias>
      <Definition>6da5380f-3071-46f0-a116-6f817b1b7bab</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bbd4c521-3059-4c24-a364-913abca40e0d</Key>
      <Name>Grid Title</Name>
      <Alias>gridTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c9d70385-91b3-42ad-9ffb-1644929709e9</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>