<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca288dd1-d31d-41b6-a0aa-2d77d7034877" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="71cf9468-19e4-4e2f-8ae6-3231abb24647">bannerProperties</Composition>
      <Composition Key="671ac9a3-36bd-4829-a204-4ea9fa681f0a">contentProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d6dde55e-e1d7-4e6b-90ac-d192f8a65680">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="977dac22-da26-48e6-8132-2247accd8d18" SortOrder="0">textPage</ContentType>
    <ContentType Key="bde149dc-95da-4483-8153-57c03a5d1bee" SortOrder="1">gridPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>