<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18e4a5ad-1339-43cd-925f-d5f70e5fa1c0" Alias="reactPage" Level="2">
  <Info>
    <Name>React Page</Name>
    <Icon>icon-science color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="71cf9468-19e4-4e2f-8ae6-3231abb24647">bannerProperties</Composition>
    </Compositions>
    <DefaultTemplate>ReactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6930815d-f70e-4790-b584-519d4dab9a8e">ReactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>40db8cfc-c838-4482-befd-631732bc2b84</Key>
      <Name>React Blocks</Name>
      <Alias>reactBlocks</Alias>
      <Definition>af091b2d-eae8-4f53-accf-fe5dc492c2b1</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocks">Blocks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>38ffb354-3bac-4c9d-92bd-1c059a184a3c</Key>
      <Caption>Blocks</Caption>
      <Alias>blocks</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>