<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc8f650f-98f4-40a7-8822-504c8c8b43c1" Alias="siteRoot" Level="1">
  <Info>
    <Name>Site Root</Name>
    <Icon>icon-umb-translation color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ca288dd1-d31d-41b6-a0aa-2d77d7034877" SortOrder="0">homePage</ContentType>
    <ContentType Key="c84ca49f-0ded-4f65-8b71-94ed7a5ed3fc" SortOrder="1">listingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>22376e8a-9d17-4900-944b-768e52efdbca</Key>
      <Name>Navigation Items</Name>
      <Alias>navigationItems</Alias>
      <Definition>e7573033-01ad-44d7-8513-c71b5d6ba606</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e67f2c16-6ca9-4e24-b90c-d426320a9974</Key>
      <Name>Home Page</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select your homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01ddac9d-0620-4766-883a-353735574902</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>0284357c-0501-4fd0-ab35-8de47ad291e7</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation/navigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3edbfe96-321a-45b4-9d32-2cacb81850b3</Key>
      <Caption>Settings</Caption>
      <Alias>settings/settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c5584651-700b-442b-a62c-4487b18467d8</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>