<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="977dac22-da26-48e6-8132-2247accd8d18" Alias="textPage" Level="2">
  <Info>
    <Name>Text Page</Name>
    <Icon>icon-notepad-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="671ac9a3-36bd-4829-a204-4ea9fa681f0a">contentProperties</Composition>
    </Compositions>
    <DefaultTemplate>TextPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bf9fa9e0-e8c3-4c64-b395-9f24aad90677">TextPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5ed7da2e-b4e6-4934-82a3-87cef6e074b9</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/title">Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9d779e6e-19d5-4bb3-8663-1dad41f0f8d0</Key>
      <Caption>Title</Caption>
      <Alias>content/title</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>