<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="977dac22-da26-48e6-8132-2247accd8d18" Alias="textPage" Level="2">
  <Info>
    <Name>Text Page</Name>
    <Icon>icon-notepad-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="71cf9468-19e4-4e2f-8ae6-3231abb24647">bannerProperties</Composition>
      <Composition Key="6cedcb84-d0a3-40f1-be71-d34b8c04521a">flexibleBlocksProperties</Composition>
    </Compositions>
    <DefaultTemplate>TextPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bf9fa9e0-e8c3-4c64-b395-9f24aad90677">TextPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>