<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="977dac22-da26-48e6-8132-2247accd8d18" Alias="textPage" Level="2">
  <Info>
    <Name>Text Page</Name>
    <Icon>icon-notepad-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="671ac9a3-36bd-4829-a204-4ea9fa681f0a">contentProperties</Composition>
      <Composition Key="f2e2ec7d-61a3-43fb-b5b4-b68d9a3a1170">titleProperties</Composition>
    </Compositions>
    <DefaultTemplate>TextPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bf9fa9e0-e8c3-4c64-b395-9f24aad90677">TextPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>